.APIListItem {
    width: 97%;
    display: flex;
    flex-direction: row;
    background-color: palevioletred;
    padding: 0.5rem;
    margin: 0.5rem;
    border: solid 3px black;
}

.APIListItem ul {
    list-style: none;
}

.ListLogoContainer {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.ListLogoContainer img {
    width: 45%;
    height: 45%;
    aspect-ratio: 1;
}

.ListBtnContainer {
    list-style: none;
    display: flex;
    flex-direction: row;
}
