* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gap: 6px;
  --radius: 20px;
  --bg-colour: #f7e7dc;
  --text-colour: #405d72;
  --middle-colour: #758694;
}

#ContentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  background-color: #f7e7dc;
  max-height: 100vh;
}

.MainContent {
  flex: 1;
  border-radius: var(--radius);
  text-align: center;
  padding: var(--gap);
  overflow: hidden;
}

.MainContentInner {
  background-color: var(--bg-colour);
  width: 100%;
  height: 100%;
  border-radius: calc(var(--radius) - var(--gap));
  overflow: auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.titleDiv {
  width: 100%;
  height: 7%;
  border-radius: calc(var(--radius) - var(--gap));
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: auto;
  border: 6px solid var(--middle-colour);
  padding: 1rem;
}

.titleDiv h4 {
  padding: 0;
  margin: 0;
  color: var(--text-colour);
}

.titleDiv h6 {
  padding: 0;
  margin: 0;
  color: var(--text-colour);
}

.searchResultGrid {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  height: 90%;
}

.noResultsDiv {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchResultGrid > * {
  width: 100%;
  margin-bottom: 1rem;
}

.backupDiv {
  text-align: center;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backupDiv p {
  margin: 0;
}
