/* ItemCardStyling.css */

.ItemCardContainer {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background-color: #e29898;
  width: 35rem;
  min-height: 30rem;
  max-height: 30rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  margin: auto;
}

.ItemCardImage {
  position: relative;
  width: 50%;
  flex-shrink: 0;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
}

.ItemCardImage_img {
  width: 100%;
  height: 100%;
}

.ItemCardImage_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ItemCardContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0 15px 15px 0;
  margin-left: 0.5rem;
}

.ItemCardTitle {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.5rem;
}

.ItemCardTitle h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.ItemCardTitle h5 {
  margin: 4px 0 0;
  font-size: 0.9rem;
  color: #666;
}

.ItemCardDetails {
  font-size: 0.8rem;
  color: #555;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ItemCardDetails p {
  margin: 0.2rem 0;
  padding: 0.2rem 0;
}

.ItemCardDetails .fieldContainer {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.ItemCardDetails .fieldContainer #content {
  font-weight: 600;
  color: rgb(59, 59, 59);
}

.ItemCardDetails .fieldContainer #subHeading {
  font-weight: 400;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 10%;
  padding: 10px 0;
}

.ItemCard_likeicon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ItemCard_likeicon:hover,
.material-symbols-outlined.prevent-select:hover {
  transform: scale(1.5);
  transition: all 0.3s ease;
}

.ItemCard_likeicon .material-icons {
  font-size: 24px;
  color: #333;
  margin-right: 5px;
}

.ItemCard_likeicon .material-icons.favorite {
  color: #ff0000;
}

.ItemCard_likeicon .likeText {
  font-size: 14px;
  color: #333;
}

.ItemCardContainer:hover #likeIcon {
  color: #ff0000 !important;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 0.5rem;
}
