/* ItemCardStyling.css */

:root {
  --border-thickness: 6px;
  --rounded-corner: 10px;
  --white-colour: #f7e7dc;
  --darkest-colour: #405d72;
  --text-colour: #758694;
  --middle-colour: #a2b5c7;
}

.ItemCardContainer {
  margin: auto !important;
  padding: 0 !important;
  width: 40rem !important;
  display: flex;
  flex-direction: row;
  border-radius: calc(var(--rounded-corner) - var(--border-thickness)) !important;
  overflow: hidden;
  background-color: var(--darkest-colour) !important;
  border: var(--border-thickness) solid var(--darkest-colour);
}

.ItemCardImage {
  position: relative;
  width: 50%;
  flex-shrink: 0;
  border-radius:
  0
  calc(var(--rounded-corner) - var(--border-thickness))
  calc(var(--rounded-corner) - var(--border-thickness))
  0
  !important;
  overflow: hidden;
}

.ItemCardImage_img {
  width: 100%;
  height: 100%;
}

.ItemCardImage_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ItemCardContainer .ItemCardContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: var(--border-thickness) !important;
  background-color: var(--white-colour);
  border-radius:
  0
  calc(var(--rounded-corner) - var(--border-thickness))
  calc(var(--rounded-corner) - var(--border-thickness))
  0
  !important;
  margin-left: 0.5rem;
}

.ItemCardTitle {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.5rem;
}

.ItemCardTitle h3 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--darkest-colour);
}

.ItemCardTitle h5 {
  margin: 4px 0 0;
  font-size: 0.9rem;
  color: var(--text-colour);
}

.ItemCardDetails {
  font-size: 0.8rem;
  color: var(--text-colour);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: var(--border-thickness);
}

.ItemCardDetails p {
  margin: 0.2rem 0;
  padding: 0.2rem 0;
}

.ItemCardDetails .fieldContainer {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.ItemCardDetails .fieldContainer #content {
  font-weight: 600;
  color: var(--darkest-colour);
}

.ItemCardDetails .fieldContainer #subHeading {
  font-weight: 400;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
  height: 20px !important;
  overflow: hidden;
}

.ItemCard_likeicon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
}

.ItemCard_likeicon:hover,
.material-symbols-outlined.prevent-select:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.ItemCard_likeicon .material-icons {
  font-size: 18px;
  color: var(--darkest-colour);
  margin-right: 5px;
}

.ItemCard_likeicon .material-icons.favorite {
  color: #ff0000;
}

.ItemCard_likeicon .likeText {
  font-size: 14px;
  color: var(--darkest-colour);
}

.ItemCardContainer:hover #likeIcon {
  color: #ff0000 !important;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnContainer a {
  text-decoration: none !important;
}