* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Spacing & Sizing */
  --border-thickness: 6px;

  /* Border Values */
  --rounded-corner: 10px;

  /* Colours */
  --white-colour: #f7e7dc;
  --darkest-colour: #405d72;
  --text-colour: #758694;
}

#ContentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  background-color: var(--bg-colour);
  max-height: 100vh;
}

.MainContentInnerExplore {
  background-color: var(--white-colour);
  border-radius: var(--rounded-corner);
  border: var(--border-thickness) solid var(--darkest-colour);
  text-align: center;
  padding: var(--gap);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.titleContainerExplore {
  width: 100%;
  background-color: var(--darkest-colour);
  border-radius: calc(var(--rounded-corner) - var(--border-thickness));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin-bottom: var(--border-thickness);
  height: auto;
}

.titleContainerExplore h4,
.titleContainerExplore h6 {
  padding: 0;
  margin: 0;
  color: var(--white-colour);
}

.exhibitionResultsExplore {
  border: var(--border-thickness) solid var(--middle-colour);
  border-radius: calc(var(--rounded-corner) - var(--border-thickness));
  padding: 8px var(--gap) var(--gap) var(--gap);
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly !important;
  align-content: flex-start;
  gap: var(--gap);

  overflow-y: scroll;
}

.exhibitionResultsExplore > div {
  flex: 0 0 calc(10% - var(--gap));
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .exhibitionResultsExplore > div {
    flex: 0 0 calc(33.333% - var(--gap));
  }
}

@media (max-width: 900px) {
  .exhibitionResultsExplore > div {
    flex: 0 0 calc(50% - var(--gap));
  }
}

@media (max-width: 600px) {
  .exhibitionResultsExplore > div {
    flex: 0 0 100%;
  }
}

/* Hide scrollbar for exhibition results */
.exhibitionResultsExplore {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.exhibitionResultsExplore .exhibitionResults::-webkit-scrollbar {
  display: none;
}