/* Root variables */
:root {
  --gap: 6px;
  --radius: 20px;
  --bg-colour: #f7e7dc;
  --text-colour: #405d72;
  --middle-colour: #758694;
}

.BottomRightInner {
  background-color: var(--bg-colour);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--border-thickness);
}

/* Title container styles */
.BottomRightInner .titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 
  calc(var(--rounded-corner) - var(--border-thickness))
  calc(var(--rounded-corner) - var(--border-thickness)) 
  0 
  0
  ;
  background-color: var(--darkest-colour);
  padding: 2px;
  min-height: 60px;
  max-height: 80px;
}

.BottomRightInner .titleContainer h4 {
  padding: 0;
  margin-bottom: 2px;
  color: var(--bg-colour);
}

.BottomRightInner .titleContainer h6 {
  padding: 0;
  margin: 0;
  color: var(--bg-colour);
}

/* Exhibition results styles */
.BottomRightInner .exhibitionResults {
  flex-grow: 1;
  overflow-y: auto;
  padding: var(--gap);
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  justify-content: start;
  margin-top: var(--gap);
  border: 6px solid var(--middle-colour);
  border-radius: 
  0 
  0 
  calc(var(--rounded-corner) - var(--border-thickness)) 
  calc(var(--rounded-corner) - var(--border-thickness))
  ;
}

/* Hide scrollbar for exhibition results */
.BottomRightInner .exhibitionResults {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.BottomRightInner .exhibitionResults::-webkit-scrollbar { 
  display: none;
}