:root {
  /* Spacing & Sizing */
  --border-thickness: 6px;
  
  /* Border Values */
  --rounded-corner: 10px;
  
  /* Colours */
  --bg-colour: #f7e7dc;
  --text-colour: #405d72;
  --middle-colour: #758694;
}

.TopBar {
  background-color: var(--middle-colour);
  text-align: center;
  flex: 0 0 auto;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded-corner);
  min-height: 60px;
  max-height: 80px;
  box-sizing: border-box;
  border: var(--border-thickness) solid var(--text-colour);
  position: relative;
  overflow: hidden;
}

.TopBarInner {
  width: 100%;
  height: 100%;
  background-color: var(--bg-colour);
  border-radius: calc(var(--rounded-corner) - var(--border-thickness));
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: var(--border-thickness) 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.TopBarLinks {
  display: flex;
  align-items: center;
  gap: 20px;
}

.TopBarText {
  color: var(--text-colour);
  font-size: 16px;
  text-decoration: none;
  transition: transform 0.3s ease;
  padding: 10px 0;
}

a.TopBarText:hover {
  transform: scale(1.05);
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 3px;
}

.UserButtonWrapper {
  display: flex;
  align-items: center;
}

.UserButtonWrapper > * {
  transform: scale(1.5);
}

.prevent-select {
  user-select: none;
}